name: Format Check (Java)

on:
  workflow_call:

jobs:
  format:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: questnav-lib

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.ref }}
          sparse-checkout: questnav-lib
          sparse-checkout-cone-mode: false

      - name: Setup Java and Gradle
        uses: ./.github/actions/setup-java-gradle
        with:
          working-directory: questnav-lib
          cache-key-prefix: gradle-lib

      - name: Check Java Formatting
        run: ./gradlew spotlessJavaCheck