name: Build
on:
  push:
    branches:
      - main
  pull_request_target:
    branches:
      - main

jobs:
  apk:
    uses: 5152Alotobots/QuestNav/.github/workflows/build-apk.yml@main
    secrets:
      UNITY_SERIAL : ${{ secrets.UNITY_SERIAL }}
      UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
      UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
# 
#   lib:
#     uses: QuestNav/QuestNav/.github/workflows/build-questnav-lib.yml@main
#     with:
#       wpilibVersion: '2025.3.2'
#       releaseToMaven: false
#     secrets:
#       MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
#       MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}